:root{
    --dr-dark-color: #292929;
    --cf-light-color: #ebebeb;
    --cf-darkblue: #00223d;
    --dr-secondary-color:#f41515;
}
body{
    color: var(--dr-dark-color);
    font-size: 1.2rem;
   
}

nav{
    background-color: var(--dr-dark-color);
}

main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}

.techicons{

}

.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--dr-dark-color);
    color: var(--cf-light-color);
}

.socialicons>a{
    color: var(--cf-light-color);
    font-size: 1.5rem;
}

.socialicons>a:hover{
    color: var(--cf-darkblue);
    font-size: 4rem;

}

.checklist{
    list-style: none;
}

.checklist i{
    color: #43f633;
    font-size: 1.5rem;
    font-weight: bold;
}

.fontAdjust{
    font-size: 1rem;
}

.fontAdjust2{
    font-size: 1rem; 
   
}

.messageStyle{
    font-size: 1.5rem;
    font-weight: bold;
    color: red;
}